body{
    background-image: url(../pic/bg.jpg);
}

#infoMat{
    padding:50px 0 50px 0;
    margin-top: 40px;
    border: 1px solid #222222;
    border-radius: 20px;
    background-color: rgba(190,190,190,0.2);
}
#infoMat>h1{
    color: white;
    text-align: center;
}

/* 用户头像 */
.userHead_nav {
    width: 33px;
    height: 33px;
    margin: 0;
    padding: 0;
}

/* 登录框 */
#userLoginBox{
    width: 350px;
}
#inputBox {
    width: 280px;
    margin: 0 auto;
}

/* 下拉框 */
#user_info_nav>span{
    padding-bottom: 20px;
}
#user_info_nav:hover{
    text-decoration:none;
}
#user_info_nav>ul{
    display: none;
    padding:0;
    margin:0 auto;
    list-style: none;
    position: absolute;
    background-color: #222222;
    color: #9D9D9D;
    border: 1px solid #080808;
}
#user_info_nav:hover>ul{
    display: block;
}
#user_info_nav>ul>li{
    background-color: #222222;
    /*border: 1px solid #080808;*/
    padding: 8px 20px 8px 20px;
}
#user_info_nav>ul>li:hover{
    background-color: #080808;
    color: #FFFFFF;
}


/* 导航栏(红) */
/*.navbar-default {*/
    /*background-color: #e74c3c;*/
    /*border-color: #c0392b;*/
/*}*/
/*.navbar-default .navbar-brand {*/
    /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-brand:hover,*/
/*.navbar-default .navbar-brand:focus {*/
    /*color: #ffbbbc;*/
/*}*/
/*.navbar-default .navbar-text {*/
    /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-nav > li > a {*/
    /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-nav > li > a:hover,*/
/*.navbar-default .navbar-nav > li > a:focus {*/
    /*color: #ffbbbc;*/
/*}*/
/*.navbar-default .navbar-nav > .active > a,*/
/*.navbar-default .navbar-nav > .active > a:hover,*/
/*.navbar-default .navbar-nav > .active > a:focus {*/
    /*color: #ffbbbc;*/
    /*background-color: #c0392b;*/
/*}*/
/*.navbar-default .navbar-nav > .open > a,*/
/*.navbar-default .navbar-nav > .open > a:hover,*/
/*.navbar-default .navbar-nav > .open > a:focus {*/
    /*color: #ffbbbc;*/
    /*background-color: #c0392b;*/
/*}*/
/*.navbar-default .navbar-toggle {*/
    /*border-color: #c0392b;*/
/*}*/
/*.navbar-default .navbar-toggle:hover,*/
/*.navbar-default .navbar-toggle:focus {*/
    /*background-color: #c0392b;*/
/*}*/
/*.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-collapse,*/
/*.navbar-default .navbar-form {*/
    /*border-color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-link {*/
    /*color: #ecf0f1;*/
/*}*/
/*.navbar-default .navbar-link:hover {*/
    /*color: #ffbbbc;*/
/*}*/

/*@media (max-width: 767px) {*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a {*/
        /*color: #ecf0f1;*/
    /*}*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {*/
        /*color: #ffbbbc;*/
    /*}*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,*/
    /*.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {*/
        /*color: #ffbbbc;*/
        /*background-color: #c0392b;*/
    /*}*/
/*}*/

